# Ignore Angular CLI cache files
/angular-cache/

# Ignore node_modules if you don't want to version-control your dependencies (recommended)
/node_modules/

# Ignore yarn.lock or package-lock.json if you use Yarn or npm for package management
yarn.lock
package-lock.json

# Ignore JetBrains IDE cache
.idea/

# Ignore Webpack cache
/dist/

# Ignore any other cache or temporary files created by your development tools
