# Ignore node_modules directory
/node_modules

# Ignore build output and compiled files
/dist
/tmp
/out-tsc
/*.js
*.js.map

# Ignore Angular CLI configuration files
/angular.json
/tsconfig.json
/tsconfig.app.json
/tsconfig.spec.json

# Ignore Angular testing files
/*.spec.ts

# Ignore dependencies installed with npm or yarn
package-lock.json
yarn.lock
