
<div class="wrap">
    <table>
        <tr >
            <th colspan="1"><h2 class="title">Basic Details</h2></th>
            <td colspan="1">
                <img *ngIf="character?.gender" src="assets/images/{{character?.gender}}.png" width="80px"/>
            </td>
        </tr>
    <tr>
      <th>Name:</th>
      <td>{{character?.name?? 'N/A'}} </td>
    </tr>
    <tr>
        <th>Height:</th>
        <td>{{character?.height?? 'N/A'}} <span *ngIf="checkWinner('height') | async" class="inline-flex items-center ml-2 rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Winner</span>
        </td>
      </tr>
      <tr>
        <th>Mass:</th>
        <td>{{character?.mass?? 'N/A'}}
            <span *ngIf="checkWinner('mass') | async" class="inline-flex items-center ml-2 rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Winner</span>
        </td>
      </tr>
      <tr>
        <th>Hair Color:</th>
        <td>{{character?.hair_color?? 'N/A'}}</td>
      </tr>
      <tr>
        <th>Eye Color:</th>
        <td>{{character?.eye_color?? 'N/A'}}</td>
      </tr>
      <tr>
        <th>Birth Year:</th>
        <td>{{character?.birth_year?? 'N/A'}}</td>
      </tr>
      <tr>
        <th>Gender:</th>
        <td>{{character?.gender?? 'N/A'}}</td>
      </tr>

      <tr>
        <th colspan="2"><h2 class="title">Starship Details</h2></th>
    </tr>
    <tr>
        <th>Starship Name:</th>
        <td>{{character?.starship?.name ?? 'N/A'?? 'N/A'}}</td>
      </tr>
      <tr>
        <th>Starship Model:</th>
        <td>{{character?.starship?.model?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Starship Manufacturer:</th>
        <td>{{character?.starship?.manufacturer?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Starship Cost In Credits:</th>
        <td>{{character?.starship?.cost_in_credits?? 'N/A'}}</td>
      </tr>


      <tr>
        <th>Starship Length:</th>
        <td>{{character?.starship?.length?? 'N/A'}}</td>
      </tr>



      <tr>
        <th>Starship Crew:</th>
        <td>{{character?.starship?.crew?? 'N/A'}}</td>
      </tr>





      <tr>
        <th>Starship Passengers:</th>
        <td>{{character?.starship?.passengers?? 'N/A'}}</td>
      </tr>





      <tr>
        <th>Starship Cargo Capacity:</th>
        <td>{{character?.starship?.cargo_capacity?? 'N/A'}}</td>
      </tr>





      <tr>
        <th>Starship Consumables:</th>
        <td>{{character?.starship?.consumables?? 'N/A'}}</td>
      </tr>


      <tr>
        <th>Starship Hyperdrive Rating:</th>
        <td>{{character?.starship?.hyperdrive_rating?? 'N/A'}}</td>
      </tr>


      <tr>
        <th>Starship MGLT:</th>
        <td>{{character?.starship?.MGLT?? 'N/A'}}</td>
      </tr>

      <tr>
        <th colspan="2"><h2 class="title">Species Details</h2></th>
    </tr>
    <tr>
        <th>Species Name:</th>
        <td>{{character?.specie?.name ?? 'N/A'?? 'N/A'}}</td>
      </tr>
      <tr>
        <th>Species Classification:</th>
        <td>{{character?.specie?.classification?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Species Designation:</th>
        <td>{{character?.specie?.designation?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Species Average Height:</th>
        <td>{{character?.specie?.average_height?? 'N/A'}}</td>
      </tr>


      <tr>
        <th>Species Skin Colors:</th>
        <td>{{character?.specie?.skin_colors?? 'N/A'}}</td>
      </tr>



      <tr>
        <th>Species Hair Colors:</th>
        <td>{{character?.specie?.hair_colors?? 'N/A'}}</td>
      </tr>



      <tr>
        <th>Species Eye Colors:</th>
        <td>{{character?.specie?.eye_colors?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Species Lifespan:</th>
        <td>{{character?.specie?.average_lifespan?? 'N/A'}}</td>
      </tr>





      <tr>
        <th colspan="2"><h2 class="title">Planet Details</h2></th>
    </tr>
    <tr>
        <th>Planet Name:</th>
        <td>{{character?.home?.name?? 'N/A'}}</td>
      </tr>
      <tr>
        <th>Planet Rotation Period:</th>
        <td>{{character?.home?.rotation_period?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Planet Orbital Period:</th>
        <td>{{character?.home?.orbital_period?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Planet Diameter:</th>
        <td>{{character?.home?.diameter?? 'N/A'}}</td>
      </tr>


      <tr>
        <th>Planet Climate:</th>
        <td>{{character?.home?.climate?? 'N/A'}}</td>
      </tr>



      <tr>
        <th>Planet Gravity:</th>
        <td>{{character?.home?.gravity?? 'N/A'}}</td>
      </tr>



      <tr>
        <th>Planet Terrain:</th>
        <td>{{character?.home?.terrain?? 'N/A'}}</td>
      </tr>





      <tr>
        <th colspan="2"><h2 class="title">Vehicle Details</h2></th>
    </tr>
    <tr>
        <th>Vehicle Name:</th>
        <td>{{character?.vehicle?.name?? 'N/A'}}</td>
      </tr>
      <tr>
        <th>Vehicle Model:</th>
        <td>{{character?.vehicle?.model?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Vehicle Manufacturer:</th>
        <td>{{character?.vehicle?.manufacturer?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Vehicle Length:</th>
        <td>{{character?.vehicle?.length?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Vehicle Max Atmosphering Speed:</th>
        <td>{{character?.vehicle?.max_atmosphering_speed?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Vehicle Crew:</th>
        <td>{{character?.vehicle?.crew?? 'N/A'}}</td>
      </tr>

      <tr>
        <th>Vehicle Cargo Capacity:</th>
        <td>{{character?.vehicle?.cargo_capacity?? 'N/A'}}</td>
      </tr>
  </table>
</div>





