.main {
    background: url('../assets/images/wallpaper.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat;
}
.overlay {
    background-color: #00000075;
    height: 100vh;
    width: 100vw;
    z-index: 999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    .spinner {
        height: 100px;
        width: 100px;
    }
}
